/** @format */

@import "../../styles/variables.scss";

.article {
  margin-left: 8rem;
  width: 50rem;

  &__teaser {
    color: $color-4;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 1.6rem;
  }

  &__heading {
    color: $primary-color;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 1.3;
    margin-bottom: 4rem;
  }

  &__paragraph {
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__btns {
    margin-top: 5rem;
  }
}
