/** @format */

@import "../../styles//variables.scss";

.partners {
  position: relative;
  width: 100%;
  margin-bottom: 18rem;

  &__waves {
    width: 100%;
    height: auto;

    @media screen and (max-width: 900px) {
      content: url("../../public/assets/imgs/waves/waves-partners-1000px.svg");
    }

    @media screen and (max-width: 600px) {
      content: url("../../public/assets/imgs/waves/waves-partners-600px.svg");
    }

    @media screen and (max-width: 500px) {
      content: url("../../public/assets/imgs/waves/waves-partners-500px.svg");
    }
  }

  &__box {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 30%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    @media screen and (max-width: 1500px) {
      top: 22%;
      height: 60%;
    }

    @media screen and (max-width: 1000px) {
      top: 10%;
      height: 80%;
    }
  }

  &__line {
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 0;

    &--1,
    &--2,
    &--3,
    &--4 {
      display: inline-block;
      animation: 88s linear infinite;

      & img {
        height: 13.5rem;
        width: 43.9rem;
        margin: 0 1.5rem;

        @media screen and (max-width: 1100px) {
          height: 12.15rem;
          width: 39.51rem;
          margin: 0 1.5rem;
        }
      }
    }

    &--4,
    &--3 {
      display: none;

      @media screen and (max-width: 900px) {
        display: inline-block;
      }
    }

    &--1,
    &--3 {
      animation-name: sliderToLeft;
    }

    &--2,
    &--4 {
      animation-name: sliderToRight;
    }
  }
}

@keyframes sliderToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes sliderToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
