/** @format */

@import "../../styles//variables.scss";

.partners {
  position: relative;

  &__waves {
  }

  &__box {
    position: absolute;
    width: 1728px;
    height: 40%;
    top: 30%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__line {
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 0;

    &--1,
    &--2 {
      display: inline-block;
      animation: 88s linear infinite;

      & img {
        height: 135px;
        width: 439px;
        margin: 0 15px;
      }
    }

    &--1 {
      animation-name: sliderToLeft;
    }

    &--2 {
      animation-name: sliderToRight;
    }
  }
}

@keyframes sliderToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes sliderToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
