/** @format */

@import "../../styles/variables.scss";

.contact {
  &__content {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;

    max-width: 129rem;
    margin: 0 auto;
    margin-bottom: 18rem;
  }

  &__img-container {
    align-self: end;
  }

  &__img {
  }
}

.form__img {
  transform: scale(0.8);
  align-self: self-end;
  justify-self: center;
  width: 100%;
  height: auto;

  @media screen and (max-width: 900px) {
    display: none;
  }
}
