/** @format */

@import "../../styles/variables.scss";

.card {
  width: 100%;
  height: 59.1rem;

  position: relative;
  flex-basis: calc(33.33% - 40px);
  // margin: 20px;

  perspective: 2500px;

  @media (max-width: 768px) {
    .card {
      flex-basis: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .card {
      flex-basis: 100%;
    }
  }

  &:hover {
    .card__body {
      cursor: pointer;
      transform: rotateY(180deg);
    }
  }

  &__body,
  &__front,
  &__back {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);

    transform-style: preserve-3d;
  }

  &__front,
  &__back {
    position: absolute;
    backface-visibility: hidden;

    background-color: $primary-color;
  }

  &__body {
    transition: transform 1s;
  }

  &__front {
  }

  &__back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__bullets {
    list-style: none;
    padding: 0 3.5rem;
    color: $white;

    & span {
      display: inline-block;
      padding: 1rem;
    }
  }

  &__bullet {
    display: flex;
    align-items: center;

    &:first-of-type {
      padding-top: 3.5rem;
    }
  }

  &__btn {
    font-size: 1.6rem;
    padding: 1rem 3rem;
    display: inline-block;
    align-self: center;
    justify-self: flex-end;
    margin-top: 4rem;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 700;
  }
}

.label {
  height: 18rem;

  border-radius: 2rem 2rem 0 0;
  padding-left: 3.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  &__icon-container {
    width: 6.3rem;
    height: 6.3rem;
    border: 1px solid $white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 3.3rem;
    color: $white;

    @media screen and (max-width: 1200px) {
      font-size: 3rem;
    }
  }

  &__paragraph {
    color: $white;
    padding: 1.5rem 3rem;

    &:first-of-type {
      padding-top: 3.5rem;
    }
  }

  &__gradient {
    &--1 {
      background: $gradient-1;
    }
    &--2 {
      background: $gradient-2;
    }
    &--3 {
      background: $gradient-3;
    }
  }
}
