/** @format */

@import "../../styles//variables.scss";

.gradientBox {
  max-width: 145rem;

  margin: 0 auto;
  margin-bottom: 18rem;

  @media screen and (max-width: 1500px) {
    margin: 0 5rem;
  }

  @media screen and (max-width: 600px) {
    margin: 0 3rem;
  }

  &__title {
    // background: linear-gradient(to right, #353e92, #c71a7b);
    background: $gradient;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    height: 6.7rem;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center;

    padding-left: 8rem;

    @media screen and (max-width: 1200px) {
      padding-left: 6rem;
    }

    @media screen and (max-width: 500px) {
      padding-left: 4rem;
    }
  }

  &__body {
    background: linear-gradient(
      to right,
      rgba(53, 62, 146, 0.66),
      rgba(199, 26, 123, 0.66)
    );
    border-radius: 0 0 2.5rem 2.5rem;

    padding: 6rem 8rem;

    display: grid;
    grid-template-columns: 50% 40%;

    @media screen and (max-width: 1200px) {
      padding: 5rem 6rem;
    }

    @media screen and (max-width: 1100px) {
    }

    @media screen and (max-width: 1000px) {
    }

    @media screen and (max-width: 500px) {
      padding: 3rem 4rem;
    }
  }
}
