/** @format */

@import "../../styles/variables.scss";

.form {
  background-color: $white;
  width: 50%;
  max-width: 604px;
  padding: 6rem 6rem;
  border-radius: 2.5rem;

  &__title {
    color: $tertiary-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4rem;
  }

  &__name {
    display: flex;
    justify-content: space-between;
  }

  &__firstName,
  &__lastName {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 45%;
  }

  &__date {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
  }

  &__gender {
    margin-bottom: 3rem;
  }

  &__email,
  &__phone,
  &__company,
  &__companyName,
  &__companyID,
  &__companyTAX {
    margin-bottom: 3rem;
  }

  &__input {
    border: 1px solid #000;
  }

  &__label {
  }

  &__date--label {
  }

  &__date--input {
  }
}

.button {
  padding: 1rem 3rem;
}

.error {
  color: red;
  font-size: 1.2rem;
  text-align: left;
}
