/** @format */

@import "../../styles/variables.scss";

.form {
  background-color: $white;
  width: 100%;
  // max-width: 604px;
  padding: 6rem 6rem;
  border-radius: 2.5rem;

  &__title {
    color: $tertiary-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4rem;
  }

  &__name {
    display: flex;
    justify-content: space-between;
  }

  &__firstName,
  &__lastName {
    display: flex;
    flex-direction: column;

    width: 46%;
  }

  &__birth {
    display: flex;
    gap: 8%;
    align-items: flex-end;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 46%;
  }
  &__gender {
    padding-bottom: 1rem;
  }

  &__email {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  &__company {
    display: flex;
    gap: 8%;
  }

  &__companyName {
    display: flex;
    flex-direction: column;
  }

  &__companyID {
    display: flex;
    flex-direction: column;
  }

  &__companyTAX {
    display: flex;
    flex-direction: column;
  }

  &__agreement {
    &--label {
      display: inline-block;
      font-size: 1.4rem;
      padding-bottom: 0.8rem;
      margin-left: 1rem;
    }

    &--span {
      color: $primary-color;
      font-weight: 700;
      transition: all 0.35s;
      font-size: 1.4rem;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &__name,
  &__birth,
  &__email,
  &__phone,
  &__company,
  &__companyName,
  &__companyID,
  &__companyTAX {
    margin-bottom: 1.8rem;
  }

  &__company {
    margin-top: 5rem;
  }

  &__input {
    border: 1px solid rgba(0, 0, 0, 0.3);

    border-radius: 5px;
    padding: 0.6rem;

    &--dob {
      width: 100%;
    }

    &--companyName {
      width: 70%;
    }

    &--companyID {
      width: 70%;
    }

    &--companyTAX {
      width: 70%;
    }
  }

  &__input-radio {
    // display: none;

    &__:checked + label {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__label {
    display: inline-block;
    font-size: 1.4rem;
    padding-bottom: 0.8rem;
  }

  &__label-radio {
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 3rem;
    cursor: pointer;

    position: relative;

    &--male {
      margin-right: 1.6rem;
    }

    &--company {
      padding-left: 0;
      width: 46%;
      gap: 8%;
    }

    input[type="radio"] {
      display: none;

      &:checked ~ span::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    span {
      width: 2rem;
      height: 2rem;
      border: 2px solid #6c63ff;
      border-radius: 50%;

      position: absolute;
      top: 0;
      left: 0;

      &::after {
        content: "";
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        background-color: #6c63ff;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: ease-in-out 0.3s;
      }
    }
  }
}

.button {
  padding: 1rem 3rem;
  font-size: 1.4rem;
  // font-weight: 700;
  letter-spacing: 1px;
  width: 70%;
  margin-top: 3rem;
  background: $gradient-1;
  transform: scale(1);
  color: $white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease; // Add transition for smooth effect

  &:hover {
    transform: scale(1.025);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.error {
  color: red;
  font-size: 1.2rem;
  text-align: left;
}

.popup {
  opacity: 0;
  visibility: hidden;

  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-y: auto;
  z-index: 10000;
  transition: ease-in-out 0.01s;

  display: flex;
  align-items: center;
  justify-content: center;

  &Active {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (max-width: 1000px) {
    align-items: start;
  }

  &__container {
    width: 80%;
    background-color: $white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    padding: 4rem;
    margin: 4rem 0;
    position: absolute;

    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $primary-color;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    color: $tertiary-color;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  &__btn {
    padding: 1rem 6rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    background: $gradient-2;
    color: $white;
    align-self: center;
    cursor: pointer;
  }
}
