/** @format */

@import "../../styles/variables.scss";

.about {
  &__section {
    max-width: 145rem;
    margin: 0 auto;
    padding: 8rem;

    display: flex;
    justify-content: space-between;

  

    @media screen and (max-width: 1200px) {
      padding: 7rem;
    }

    @media screen and (max-width: 1100px) {
      padding: 6rem;
    }

    @media screen and (max-width: 900px) {
      padding: 5rem;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 700px) {
      padding: 0rem 4rem;
    }

    &--2 {
      margin-bottom: 12rem;
    }
  }

  &__article-box {
    width: 45%;

    @media screen and (max-width: 1200px) {
      width: 50%;
    }

    @media screen and (max-width: 1000px) {
      width: 55%;
    }

    @media screen and (max-width: 800px) {
      width: 70%;
    }

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  &__imgs {
    margin-top: 8rem;
    width: 45%;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1100px) {
      width: 40%;
    }

    @media screen and (max-width: 800px) {
      width: 70%;
    }

    @media screen and (max-width: 700px) {
      width: 100%;
    }

    @media screen and (max-width: 600px) {
      margin-top: 0;
    }

    &--1 {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1100px) {
        justify-content: space-around;
      }
    }

    &--2 {
      align-self: flex-end;
      margin-bottom: 8rem;
    }

    @media screen and (max-width: 800px) {
      transform: scale(0.8) translateX(-4rem);
      align-self: flex-start;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    &--graph {
      @media screen and (max-width: 800px) {
        margin-top: 0;
        margin-bottom: 5rem;
      }
    }

    &--certificate {
      transform: scale(0.66);

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    &--smiljka {
    }
  }

  &__blog-container {
    max-width: 145rem;

    margin: 0 auto;
    overflow: hidden;

    @media screen and (max-width: 1500px) {
      margin: 0 5rem;
    }

    @media screen and (max-width: 1100px) {
      margin-top: 8rem;
    }

    @media screen and (max-width: 600px) {
      margin: 0 3rem;
    }
  }

  &__blog-title {
    // background: linear-gradient(to right, #353e92, #c71a7b);
    background: $gradient;
    color: $white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
    height: 6.7rem;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;

    padding-left: 8rem;

    @media screen and (max-width: 1200px) {
      padding-left: 6rem;
    }

    @media screen and (max-width: 900px) {
      margin-top: 12rem;
    }

    @media screen and (max-width: 500px) {
      padding-left: 4rem;
    }
  }

  &__blog-body {
    background: linear-gradient(
      to right,
      rgba(53, 62, 146, 0.66),
      rgba(199, 26, 123, 0.66)
    );
    border-radius: 0 0 2.5rem 2.5rem;
    margin-bottom: 18rem;
    padding: 6rem 8rem;

    display: grid;
    grid-template-columns: 40% 52%;
    grid-column-gap: 8%;
    grid-row-gap: 6rem;

    @media screen and (max-width: 1400px) {
    }

    @media screen and (max-width: 1200px) {
      padding: 5rem 6rem;
    }

    @media screen and (max-width: 1100px) {
    }

    @media screen and (max-width: 1000px) {
    }

    @media screen and (max-width: 900px) {
      padding: 4rem 4rem;

      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 6rem;
    }

    @media screen and (max-width: 600px) {
      padding: 3rem 4rem;
      padding-bottom: 6rem;
    }

    @media screen and (max-width: 500px) {
      padding: 4rem 3rem;
    }
  }

  &__blog-intro {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    margin-top: 7rem;

    @media screen and (max-width: 900px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;

      margin-top: 2rem;
    }

    &--teaser {
      color: #ebd2e9;
      font-weight: 400;
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.5;
      margin-bottom: 1.5rem;

      @media screen and (max-width: 800px) {
        font-size: 1.6rem;
      }
    }

    &--title {
      color: $white;
      font-weight: 400;
      font-size: 3.6rem;
      line-height: 1.4;
      margin-bottom: 3.5rem;

      @media screen and (max-width: 800px) {
        font-size: 3.2rem;
        margin-bottom: 3.6rem;
      }
    }

    &--text {
      color: $white;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.6;
      margin-bottom: 5rem;
    }

    &--btn {
      display: inline-block;
      background-color: $white;
      color: $primary-color;
      font-weight: 700;
      font-size: 1.6rem;
      text-transform: uppercase;
      padding: 1rem 5rem;
      border: 1px solid $white;
      border-radius: 1rem;
      cursor: pointer;
      transition: all 0.2s;

      & span {
        display: inline-block;
        transform: translateY(-0.2rem);
      }

      &:hover {
        background: transparent;
        color: #ebd2e9;
      }
    }
  }

  &__blog-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    align-self: self-end;
    margin-bottom: 6rem;

    width: 100%;
    height: auto;

    @media screen and (max-width: 900px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;

      transform: scale(0.85);
    }
  }

  &__blog-preview {
    background-color: $white;
    border-radius: 3rem;
    padding: 7rem;

    @media screen and (max-width: 1500px) {
      padding: 5rem;
    }

    @media screen and (max-width: 1500px) {
      padding: 5rem;
    }

    @media screen and (max-width: 600px) {
      padding: 4rem 3rem;
    }

    &--1 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;

      @media screen and (max-width: 900px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }
    &--2 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;

      @media screen and (max-width: 900px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;

        margin-bottom: 2rem;
      }
    }

    &--teaser {
      color: #a92280;
      font-weight: 400;
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.5;
      margin-bottom: 1.5rem;

      @media screen and (max-width: 800px) {
        font-size: 1.6rem;
      }
    }

    &--title {
      color: $primary-color;
      font-weight: 400;
      font-size: 3.6rem;
      line-height: 1.4;
      margin-bottom: 3.5rem;

      @media screen and (max-width: 800px) {
        font-size: 3.2rem;
        margin-bottom: 3.6rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 2.6rem;
        margin-bottom: 2.4rem;
      }
    }

    &--text {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.6;
      margin-bottom: 5rem;
    }

    &--btn {
      background-color: $white;
      color: $primary-color;
      font-weight: 700;
      font-size: 1.8rem;
      text-transform: uppercase;
      padding: 1.3rem 5rem;
      border-radius: 2rem;

      & span {
        display: inline-block;
        transform: translateY(-0.2rem);
      }
    }
  }
}
