/** @format */

@import "../../styles//variables.scss";

.smiljana {
  max-height: 76.7rem;
  max-width: 59.7rem;

  @media screen and (max-width: 1500px) {
    max-height: 69.3rem;
    max-width: 53.73rem;
  }

  @media screen and (max-width: 1450px) {
    max-height: 62.37rem;
    max-width: 48.357rem;
  }
}
