/** @format */

@import "../../styles//variables.scss";

.smiljana {
  max-height: 76.7rem;
  max-width: 59.7rem;

  @media screen and (max-width: 1500px) {
    max-height: 69.3rem;
    max-width: 53.73rem;
  }

  @media screen and (max-width: 1450px) {
    max-height: 62.37rem;
    max-width: 48.357rem;
  }

  &__name {
    color: $primary-color;
    font-size: 2.4rem;
    text-align: center;
  }

  &__title {
    color: rgba(0, 0, 0, 0.33);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
  }
}
