/** @format */

@import "../../../styles/variables.scss";

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 6rem 1rem 3.5rem;
  min-width: 17.8rem;
  height: 3.95rem;
  margin-right: 2rem;

  background-color: $primary-color;
  color: $white;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s;

  transition: background-color 0.3s;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    // width: 15.8rem;
  }

  @media screen and (max-width: 450px) {
    margin-right: 1rem;
  }

  &:hover {
    background-color: $primary-color;

    .circle1 {
      transform: translate(70%, -50%);
    }

    .circle2 {
      transform: translate(65%, -60%);
    }
  }
}

.circle1 {
  position: absolute;
  top: -10px;
  right: -2px;
  transform: translate(80%, -50%);
  width: 120%;
  height: 200%;
  background-color: rgba(233, 204, 238, 0.7);
  border-radius: 50%;
  transition: transform 0.2s;
}

.circle2 {
  position: absolute;
  top: 0.8rem;
  right: -2.4rem;
  transform: translate(80%, -50%);
  width: 120%;
  height: 200%;
  background-color: rgba(233, 204, 238, 0.6);
  border-radius: 50%;
  transition: transform 0.4s;
}
