/** @format */

@import "../../styles//variables.scss";

.hello {
  position: relative;
  overflow: hidden;

  &__svg {
    object-fit: cover;
  }

  &__textContainer {
    position: absolute;
    padding: 19rem;
  }

  &__teaser {
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #d2accf;
  }

  &__heading {
    font-size: 4.8rem;
    color: $white;
    letter-spacing: 1.5px;
    margin-top: 1.5rem;
  }
}
