/** @format */

// .main {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   padding: 6rem;
//   min-height: 100vh;
// }

.form__img {
  transform: scale(0.8);
  align-self: self-end;
  justify-self: center;
  width: 100%;
  height: auto;

  @media screen and (max-width: 900px) {
    display: none;
  }
}
