/** @format */

@import "../../styles//variables.scss";

.navigation {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  max-width: 120rem;
  height: 8rem;
  padding: 0 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    list-style: none;

    display: flex;
  }

  &__link {
    font-family: "Cousine", monospace;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 1.4rem;

    color: $white;
    border: 1px solid transparent;
    border-radius: 10px;

    padding: 0.8rem 2rem;
    margin-right: 0.6rem;

    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      border: 1px solid white;
      border-radius: 10px;
    }

    &--ca {
      color: $primary-color;
      background-color: $white;
      text-transform: uppercase;
      margin: 0;
      margin-left: 1.2rem;

      &:hover {
        background-color: transparent;
        color: $white;
      }
    }
  }
}
