/** @format */
@import "../../styles//variables.scss";

.container {
  position: relative;
  margin: 0 auto;
}

.navigation {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  height: 8rem;
  padding: 0 18.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1500px) {
    padding: 0 16rem;
  }

  @media screen and (max-width: 1400px) {
    padding: 0 13rem;
  }

  @media screen and (max-width: 1200px) {
    padding: 0 9rem;
  }

  @media screen and (max-width: 1100px) {
    padding: 0 6rem;
  }

  @media screen and (max-width: 900px) {
    padding: 0 4rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0 3rem;
  }

  &__logo-container {
  }

  &__desktop {
    list-style: none;
    display: flex;

    @media screen and (max-width: 1000px) {
      display: none;
    }

    &--list-item {
    }

    &--link {
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-size: 1.6rem;

      color: $white;
      border: 1px solid transparent;
      border-radius: 10px;

      padding: 0.8rem 2rem;
      margin-right: 0.6rem;

      cursor: pointer;
      transition: 0.3s all;

      &:hover {
        border: 1px solid white;
        border-radius: 10px;
      }
    }

    &--link-CA {
      color: $primary-color;
      background-color: $white;
      text-transform: uppercase;
      margin: 0;
      margin-left: 1.2rem;

      &:hover {
        background-color: transparent;
        color: $white;
      }
    }
  }

  &__mobile {
    display: none;

    @media screen and (max-width: 1000px) {
      display: block;
    }

    &--checkbox {
      display: none;
    }

    &--checkbox:checked ~ &--background {
      transform: scale(2000);
    }

    &--button {
      // background-color: $white;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer;

      position: absolute;
      top: 1.5rem;
      right: 3.5rem;
      z-index: 2000;
    }

    &--icon {
      position: relative;
      margin-top: 2.5rem;

      &,
      &::before,
      &::after {
        width: 2.5rem;
        height: 2px;
        background-color: $white;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.8rem;
      }

      &::after {
        top: 0.8rem;
      }
    }

    &--background {
      height: 1px;
      width: 1px;
      border-radius: 50%;
      background: $gradient-radial;
      transition: transform 0.8s ease-out;

      // transform: scale(100);

      position: absolute;
      top: 0rem;
      right: 0.5rem;
      z-index: 1000;
    }

    &--nav {
      height: 100vh;
      transition: all 0.8s;

      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;

      opacity: 0;
      width: 0;
    }

    &--checkbox:checked ~ &--nav {
      opacity: 1;
      width: 100vw;
    }

    &--list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      list-style: none;
      text-align: center;
      width: 100%;
    }

    &--item {
      margin: 1rem;
    }

    &--link {
      &:link,
      &:visited {
        display: inline-block;
        color: $white;
        font-size: 2rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.8rem 2rem;
        cursor: pointer;

        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $white 50%
        );

        background-size: 234%;
        transition: all 0.4s;
      }

      &:hover,
      &:active {
        background-position: 100%;
        color: $primary-color;
      }
    }

    &--button:hover &--icon:before {
      top: -1rem;
    }

    &--button:hover &--icon::after {
      top: 1rem;
    }

    &--checkbox:checked + &--button &--icon {
      background-color: transparent;
    }

    &--checkbox:checked + &--button &--icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &--checkbox:checked + &--button &--icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
