/** @format */

@import "../../styles/variables.scss";

.advisor {
  width: 100%;
  &__container {
    max-width: 145rem;

    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0 8rem;

    @media screen and (max-width: 1300px) {
      padding: 0 7rem;
    }

    @media screen and (max-width: 1100px) {
      padding: 0 6rem;
    }

    @media screen and (max-width: 900px) {
      padding: 0 5rem;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    @media screen and (max-width: 700px) {
      padding: 2rem 4rem;
    }

    &--left {
      width: 40%;

      @media screen and (max-width: 1500px) {
        width: 45%;
      }

      @media screen and (max-width: 800px) {
        width: 80%;
      }

      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }
    &--right {
      width: 45%;
      transform: translate(0rem, -15rem);

      @media screen and (max-width: 1100px) {
        transform: translate(0rem, -10rem);
      }

      @media screen and (max-width: 1000px) {
        transform: translate(0rem, -5rem);
      }

      @media screen and (max-width: 900px) {
        transform: translate(-2rem, 0rem) scale(0.9);
      }

      @media screen and (max-width: 800px) {
        width: 80%;
      }

      @media screen and (max-width: 700px) {
        width: 100%;
        transform: translate(-4rem, 0rem) scale(0.85);
      }
    }
  }

  &__picker {
    display: flex;
    margin-bottom: 3rem;

    @media screen and (max-width: 800px) {
      margin-bottom: 2rem;
    }
  }

  &__number {
    position: relative;
    padding: 1rem 0;
    border-bottom: 4px solid transparent;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    @media screen and (max-width: 800px) {
      padding: 0.6rem 0;
      border-bottom: 2px solid transparent;

      text-transform: uppercase;
      font-size: 1.4rem;
    }

    &.active::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 4px;
      background-color: $secondary-color;
      border-radius: 2px;
    }
  }

  &__heading {
    font-size: 3.6rem;
    color: $primary-color;
    margin-bottom: 2.5rem;
  }

  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &:last-child {
      margin-bottom: 8rem;
    }
  }

  &__btns {
    margin: 8rem 0;

    @media screen and (max-width: 1000px) {
    }
  }
}
