/** @format */

@import "../../styles/variables.scss";

.adviser {
  display: flex;
  justify-content: space-between;

  &__container {
    flex: 1;
    flex-basis: 50%;
    &--left {
      max-width: 57.7rem;
    }
    &--right {
      position: absolute;
      right: 0;
      top: -50px;
    }
  }

  &__picker {
    display: flex;
    margin-bottom: 3rem;
  }

  &__number {
    position: relative;
    padding: 1rem 0;
    border-bottom: 4px solid transparent;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &.active::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 4px;
      background-color: $secondary-color;
      border-radius: 2px;
    }
  }

  &__heading {
    font-size: 3.6rem;
    color: $primary-color;
    margin-bottom: 2.5rem;
  }

  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &:last-child {
      margin-bottom: 8rem;
    }
  }

  &__btns {
    margin-top: 8rem;
  }
}
