/** @format */

@import "../../styles//variables.scss";

.footer {
  height: 1434px;
  width: 1728px;

  display: flex;
  flex-direction: column;

  &__body {
    background: $gradient;
    height: 673px;

    padding: 10rem 18.8rem;
    color: $white;

    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  &__logo {
    grid-column: 1 / span 4;
  }

  &__icons {
    margin-right: 1.5rem;
  }

  &__company {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 1.8rem;
    font-weight: 700;

    &--description {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 5;

      font-size: 1.4rem;
    }

    &--data {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
    }

    &--social {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
    }
  }

  &__department1 {
    font-size: 1.8rem;
    font-weight: 700;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    &--address {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &--contact {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &__department2 {
    font-size: 1.8rem;
    font-weight: 700;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    &--address {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &--contact {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &__services {
    font-size: 1.8rem;
    font-weight: 700;

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    &--list {
      list-style: none;

      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 5;

      & li {
        cursor: pointer;
      }
    }
  }

  &__line {
    display: flex;
    align-items: center;
  }
}
