/** @format */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-size: 1.6rem;
  max-width: 172.8rem;
  margin: 0 auto;
}

/* h1,
h2 {
  font-size: inherit;
} */

a {
  text-decoration: none;
}
