/** @format */

$primary-color: #1a4596;
$secondary-color: #de1477;
$tertiary-color: #a92280;
$white: #fff;

$gradient: linear-gradient(to right, $primary-color, $secondary-color);
$gradient-1: linear-gradient(to right, #323f92, #5d358c);
$gradient-2: linear-gradient(to right, #69328a, #922884);
$gradient-3: linear-gradient(to right, #9d2582, #c51b7c);
$gradient-4: linear-gradient(to bottom, #6c71cb3e, #fff);
