/** @format */

$primary-color: #1a4596;
$secondary-color: #de1477;
$tertiary-color: #a92280;
$white: #fff;

$gradient: linear-gradient(to right, $primary-color, $secondary-color);
$gradient-radial: radial-gradient($primary-color, $secondary-color);
$gradient-1: linear-gradient(to right, #323f92, #5d358c);
$gradient-2: linear-gradient(to right, #69328a, #922884);
$gradient-3: linear-gradient(to right, #9d2582, #c51b7c);
$gradient-4: linear-gradient(to bottom, #6c71cb3e, #fff);

$bp-1500: 93.75em;
$bp-1400: 87.5em;
$bp-1300: 81.25em;
$bp-1200: 75em;
$bp-1100: 68.75em;
$bp-1000: 62.5em;
$bp-900: 56.25em;
$bp-800: 50em;
$bp-700: 43.75em;
$bp-600: 37.5em;
$bp-500: 31.25em;
$bp-400: 25em;
